{navbar}

<section class="container-fluid">
	<div class="row-fluid">
		<div class="col-sm-6">
			<div id="topline">ABOUT AIK TRANSPORT</div>		
			
				<div class="lefttext">
				AIK is a fast growing trucking company located in Cincinnati. The company goal is to establish itself as a leading transportation company.<br><br>
				We are in a process of adding more trucks and serving an increasing number of clients. AIK offers very competitive pay per mile in order to
				attract the best drivers in the industry. We depend on the people that drive for us to keep our reputation for a reliable company.

				</div>
		</div>	
{applicant}
	</div>
</section>

{slides}

{copyright}




