{navbar}

<section class="container-fluid">
	<div class="row-fluid">
		<div class="col-sm-6">
			<div class="leftText">
				<h1>Drive and earn up to $0.50 cents per mile</h1><br>
				<p>AIK is a transportation company founded by a truck driver that knows what is takes to be a trucker. We want our drivers to earn the most money in the industry! Do not spend days on the road without being adequately compensated for your hard work!</p>
				<p>There is no long application - you can just call us at 513-680-5334 or fill in the short form on the right and we will be in touch with you.</p>
				<p>We take both new and experience drivers. All you need is a CDL!</p>
				<p>Apply today and start earning one of the highest rates on the market!</p>
			</div>
		</div>
		{apply_result}			
	</div>
</section>

{slides}

{copyright}

