{navbar}
<section class="container-fluid">
	<div class="row-fluid">
		<div class="col-sm-6">
			<div id="topline">EARN UP TO $0.50 CENTS PER MILE</div>	
				
				<div id="lefttext">AIK is a transportation company founded by a truck driver that knows what is takes to be a trucker. We want our drivers to earn the most money in the industry! Do not spend days on the road without being adequately compensated for your hard work!<br><br>
				There is no long application - you can just call us at 513-680-5334 or fill in the short form on the right and we will be in touch with you.<br><br>
				We take both new and experience drivers. All you need is a CDL!
				Apply today and start earning one of the highest rates on the market!
			
				
				<ul class="benefits"><br>
					<li>Guaranteed to make $1500-$2000 in a week</li>
					<li>Safety bonus</li>
					<li>Guaranteed home time</li>
					<li>We hire as 1099</li>
				</ul>

			</div>
		</div>	
		<div class="col-sm-6" >

			<div class="contact">
				<form method="POST" action="/contact">	
					<fieldset class="form-group">
						<label for="name">Your name:</label>
						<input class="form-control" type="text" id="name" name="name" placeholder="Your name"></textarea>													
					</fieldset>

					<fieldset class="form-group">
						<label for="name">Your email:</label>
						<input class="form-control" type="email" id="email" name="email" placeholder="Your email"></textarea>													
					</fieldset>

					<fieldset class="form-group">
						<label for="comment">Your message:</label>
						<textarea class="form-control" id="comment" name="comment" rows="7"  placeholder="Type your message here"></textarea>					
					</fieldset>

				<div class="row text-center">					
					<button type="submit" class="btn btn-primary" id="submit">Submit</button>
				</div>

			
				</form>
			
			</div>
		</div>			
	</div>
</section>

{slides}

{copyright}

