{navbar}

<section class="container-fluid">
	<div class="row-fluid">
		<div class="col-sm-6">
			<div id="topline">WE PAY UP TO $0.50 CENTS PER MILE</div>	
			
				<div class="lefttext" >AIK is a transportation company founded by a truck driver that knows what is takes to be a trucker. We want our drivers to earn the most money in the industry! Do not spend days on the road without being adequately compensated for your hard work!<br><br>
				There is no long application - you can just call us at 513-680-5334 or fill in the short form on the right and we will be in touch with you.<br><br>
				We take both new and experience drivers. All you need is a CDL!
				Apply today and start earning one of the highest rates on the market!
			
				
				<ul class="benefits"><br>
					<li>Guaranteed to make $1500-$2000 in a week</li>
					<li>Safety bonus</li>
					<li>Guaranteed home time</li>
					<li>We hire as 1099</li>
				</ul>

			</div>
		</div>	
{applicant}
	</div>
</section>

{slides}

{copyright}



