<!DOCTYPE html>
<html lang="en">

<head>
	<title>AIK Transport</title>

	<meta name="description" content="AIK Transport trucking company in Cincinnati Ohio" />	
	<meta name="keywords" content="AIK Transport, trucking, transport, Cincinnati, Ohio, semi truck, drivers, high, pay" />
	<meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name = "resource-type" content = "document" />
	<meta name = "classification" content = "Business" />
	<meta name = "rating" content = "Safe For Kids" />
	<meta name = "author" content = "AIK Transport" />
	<meta name = "robots" content = "index, follow" />
	<meta name = "revisit-after" content = "7 days" />
	<meta name = "googlebot" content = "all" />
	<meta name = "msnbot" content = "all" />
	
	<!-- Google+ -->
	<meta itemprop="name" content="AIK Transport" />
	<meta itemprop="description" content = "AIK Transport trucking company in Cincinnati Ohio" />

	<!-- Facebook -->
	<meta name = "og:title" content = "AIK Transport" />
	<meta name = "og:site_name" content = "AIK Transport" />
	<meta name = "og:url" content="http://aiktransport.com" />
	<meta name = "og:description" content="AIK Transport trucking company in Cincinnati Ohio" />
	
	
	<!-- twitter -->
	<meta name = "Twitter:card" content="summary" />
	<meta name = "Twitter:url" content="http://aiktransport.com" />
	<meta name = "Twitter:title" content="AIK Transport" />
	<meta name = "Twitter:description" content="AIK Transport trucking company in Cincinnati Ohio" />
	
	<meta http-equiv="Content-Language" content="en" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	
	<link rel="icon" href="/pic/favicon.ico" type="image/x-icon" />	
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/jssor.css" type="text/css" rel="stylesheet">
	<link href="/css/style.css" type="text/css" rel="stylesheet">


	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jssor-slider/20.0.0/jssor.slider.min.js"></script>
	<script type="text/javascript" src="/js/jscode.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&language=en"></script>

</head>

<body style="position:relative;">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid" style="position:relative;">
			
			<div class="navbar-header">
				<button class="navbar-toggle"  type="button" data-toggle="collapse" data-target="#bstop">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img id="xlogo" src="/pic/logo_medium.png" class="img-responsive logo"> 
		
			</div>


		<div class="col-sm-3">
			<img id="phone" src="/pic/phone.png" class="img-responsive logo">
		</div>
					
		
			<div class="collapse navbar-collapse" id="bstop">
									
				<ul class="nav navbar-nav navbar-right">
					<li title="AIK Transport Home"><a href="homepage">Home</a></li>
   					<li title="About AIK Transport"><a href="about">About Us</a></li>		
					<li title="Sign In"><a href="login">Sign In</a></li>
					<li title="Contact Us"><a href="contact">Contact Us</a></li>
				</ul>
			</div>
		
	</div>
	</nav>
